@font-face{
	font-family: Mystia;
	src: url("FONTS/MystiaE0Or.otf");
}

@font-face{
	font-family: Majorant, 'sans serif';
	src: url("FONTS/Majorant/Majorant\ Regular.otf")
}

@font-face{
	font-family: "LuloCleanW01-OneBold";
	src: url("FONTS/Lulo Clean W01 One Bold.ttf")
}

.msg{
	width:100;
	position: relative;
	display:block;
	padding-top:auto;
	padding-bottom:auto;
	margin-left:auto;
	margin-right:auto;
	cursor:default;
	align-content:center;
	justify-content:center;
}

body{
	background-image: url("ASSETS/background.png");
	background-size: 100vw;
	background-repeat: no-repeat;
	background-attachment: scroll;
	width: 100vw;
	height: auto;
	max-width: 100vw;
	justify-content: center;
	align-items: center;
	text-align:center;
}

.title{
	margin-top: 25px;
	margin-bottom: 25px;
	margin-left: auto;
	margin-right: auto;
}

.score-display{
	font-family:"LuloCleanW01-OneBold";
	font-size:20px;
	font-weight: 900;
	margin-bottom: 10px;
	color:#ffffff;
}

.msg{
	width:100;
	position: relative;
	display:block;
	padding-top:auto;
	padding-bottom:auto;
	margin-left:auto;
	margin-right:auto;
	cursor:default;
	align-content:center;
	justify-content:center;
}

.questions{
    position: relative;
    margin: auto auto 25px auto;
    justify-content: center;
    width: 700px;
	font-family:Majorant;
	color:#FFFFFF;
    font-size: 18px;
}

.container{
    width: 100;
    max-width: 80%;
    display: block;
    margin: auto;
    margin-top: 10vh;
}

.msg-container{
    width: 1000px;
}

.btn-grid{
    display: grid;
    grid-template-columns: repeat(2, auto);
    gap: 50px 20px;
    width: 1000px;
    position: relative;
    margin: auto;
    justify-content: center;
}

.btn{
    cursor: pointer;
}

.answer-btn{
    background-image: url(ASSETS/answer-box.png);
    background-color: transparent;
    background-size: 341px, 10px;
    background-repeat: no-repeat;
    border: transparent;
    height: 160px;
    width: 341px;
    font-family: Majorant;
    font-weight: 600;
    font-size: 20px;
    padding: 25px 25px 30px 25px;
    color: #15006d;
    position: relative;
    margin: auto;
    justify-content: center; 
}

.answer-btn.correct{
    background-image: url(ASSETS/answer-box-correct.png);
    background-color: transparent;
    background-size: 341px, 10px;
    background-repeat: no-repeat;
    border: transparent;
    height: 160px;
    width: 341px;
    font-family: Majorant;
    font-weight: 600;
    font-size: 20px;
    padding: 25px 25px 30px 25px;
    color: #FFFFFF;
}

.answer-btn.wrong{
    background-image: url(ASSETS/answer-box-wrong.png);
    background-color: transparent;
    background-size: 341px, 10px;
    background-repeat: no-repeat;
    border: transparent;
    height: 160px;
    width: 341px;
    font-family: Majorant;
    font-weight: 600;
    font-size: 20px;
    padding: 25px 25px 30px 25px;
    color: #FFFFFF;
}

/*BUTTONS*/
.next-btn{
    color: white;
	font-family: "LuloCleanW01-OneBold";
	border: transparent;
	background-color: #6ecfbc;
	padding-left: 40px;
	padding-right: 40px;
	font-size: 14px;
	margin-top: 30px;
	width: 250px;
	height: 50px;
	border-radius:5px;
	position:relative;
	justify-content: center;
}

.menu-btn{
	color: white;
	font-family: "LuloCleanW01-OneBold";
	border: transparent;
	background-color: #6ecfbc;
	padding-left: 40px;
	padding-right: 40px;
	font-size: 14px;
	margin-top: 30px;
	width: 250px;
	height: 50px;
	border-radius:5px;
	position:relative;
	justify-content: center;
}

.hide{
	display:none;
}

/*BUTTON HOVER ANIMATION*/
.answer-btn:hover{
    margin-top: -10px;
    margin-bottom: 10px;
}

.answer-btn:active{
    margin-top: -10px;
    margin-bottom: 10px;
}

.answer-btn.correct:hover{
    margin-top: -10px;
    margin-bottom: 10px;
}

.answer-btn.correct:active{
    margin-top: -10px;
    margin-bottom: 10px;
}

.answer-btn.wrong:hover{
    margin-top: -10px;
    margin-bottom: 10px;
}

.answer-btn.wrong:active{
    margin-top: -10px;
    margin-bottom: 10px;
}

.next-btn:hover{
    color:white;
    font-family: "LuloCleanW01-OneBold";
    border:transparent;
    background-color:#f9623e;
    cursor: pointer;
}

.next-btn:active{
    color:white;
    font-family: "LuloCleanW01-OneBold";
    border:transparent;
    background-color:#f9623e;
    cursor: pointer;
}

.menu-btn:hover{
    color:white;
    font-family: "LuloCleanW01-OneBold";
    border:transparent;
    background-color:#f9623e;
    cursor: pointer;
}

.menu-btn:active{
    color:white;
    font-family: "LuloCleanW01-OneBold";
    border:transparent;
    background-color:#f9623e;
    cursor: pointer;
}

/*START PAGE*/
.section{
  position: relative;
  width: 100%;
  height: 50vh;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

.title-img{
  position: relative;
  width: 100%;
  margin-bottom: 15px;
  margin-top: 10vh;
  z-index: 1;
}

.start-btn{
  position: relative;
  color: #FFFFFF;
  height: 719px;
  width: 719px;
  z-index: 1;
  margin-top: 60px;
}

.start-btn:hover{
  margin-top: 69px;
  cursor:pointer;
}

.start-btn:active{
  margin-top: 84px;
  cursor:pointer;
}

section img{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
